<html>
	<head>
		<title>Login to the system</title>
	</head>
	<body>
		<h1>Enter your credentials</h1>
		<form action="../login" method="post" enctype=multipart/form-data name="loginform">
			<table>
				<tr>
					<td>
						Username :
					</td>
					<td>
						<input type="text" name="user_name">
					</td>
				</tr>
				<tr>
					<td>
						Password :
					</td>
					<td>
						<input type="password" name="password">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="LogIn">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>